.about,
.tech-stack,
.projects,
.info,
.contact {
  min-height: 100vh;
  padding: 6rem 0 6rem;
}
.about:not(:first-child),
.tech-stack:not(:first-child),
.projects:not(:first-child),
.info:not(:first-child),
.contact:not(:first-child) {
  border-top: 1px solid #1b1b1b;
}
.about__category,
.tech-stack__category,
.projects__category,
.info__category,
.contact__category {
  text-transform: uppercase;
  color: #3ab7c4;
  font-size: 2.8rem;
  margin: 0 1rem 4rem 0;
  font-family: "Tourney", cursive;
}
.about__category::after,
.tech-stack__category::after,
.projects__category::after,
.info__category::after,
.contact__category::after {
  content: ":";
}

.header {
  position: sticky;
  top: -3rem;
  transform: translateY(-200px);
  padding: 4rem 4rem 1rem;
  background-color: inherit;
  font-family: inherit;
  color: #a6a6a6;
  z-index: 1;
  max-width: 1540px;
  margin: 0 auto;
  -webkit-animation: slide-down 500ms ease-out;
  -moz-animation: slide-down 500ms ease-out;
  -ms-animation: slide-down 500ms ease-out;
  -o-animation: slide-down 500ms ease-out;
  animation: slide-down 500ms ease-out;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
}
.header__brand-wrapper {
  display: flex;
  justify-content: space-between;
  width: 40%;
}
.header__brand {
  font-size: 1.6rem;
  color: #ccc;
  transition: color 0.2s;
}
.header__brand:hover {
  color: transparent;
  cursor: pointer;
  transition: color 0.3s;
}
.header__brand-additional {
  font-size: 1.4rem;
  line-height: 1.5;
  align-self: flex-end;
  color: #a6a6a6;
  transition: color 0.2s;
}
.header__brand-additional:hover {
  color: transparent;
  cursor: pointer;
  transition: color 0.3s;
}
.header__contact-info {
  display: flex;
  font-family: inherit;
  font-size: 1.4rem;
  color: #a6a6a6;
  justify-content: flex-end;
  align-items: flex-end;
}
.header__contact-info-item {
  color: gray-2;
  margin-left: 10px;
  line-height: 1.5;
  transition: color 0.2s;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2rem;
  background-color: #161616;
  padding: 1rem;
  word-spacing: 2px;
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
}
.footer p {
  margin: 1rem 2rem;
}

.tech-stack {
  display: flex;
  flex-direction: column;
}
.tech-stack__tech {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}
.tech-stack__list {
  display: flex;
  flex-direction: column-reverse;
  margin: 2rem;
}
.tech-stack__icon {
  background: radial-gradient(#c89b15, #7b3386);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  font-size: 4.1rem;
  padding: 10px;
  transform: translateY(0);
  opacity: 0;
  color: transparent;
}
.tech-stack__icon:hover {
  cursor: pointer;
}
.tech-stack__list-sub {
  color: #3ab7c4;
  font-size: 1.2rem;
  border-top: 2px solid #3ab7c4;
  margin: 2rem 0;
  padding: 0.6rem 0 0;
}

.tech-stack__list:nth-child(1) i.active:nth-child(2) {
  -webkit-animation: stack-animation 600ms calc(100ms * 2);
  -moz-animation: stack-animation 600ms calc(100ms * 2);
  -ms-animation: stack-animation 600ms calc(100ms * 2);
  -o-animation: stack-animation 600ms calc(100ms * 2);
  animation: stack-animation 600ms calc(100ms * 2);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(1) i.active:nth-child(3) {
  -webkit-animation: stack-animation 600ms calc(100ms * 3);
  -moz-animation: stack-animation 600ms calc(100ms * 3);
  -ms-animation: stack-animation 600ms calc(100ms * 3);
  -o-animation: stack-animation 600ms calc(100ms * 3);
  animation: stack-animation 600ms calc(100ms * 3);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(1) i.active:nth-child(4) {
  -webkit-animation: stack-animation 600ms calc(100ms * 4);
  -moz-animation: stack-animation 600ms calc(100ms * 4);
  -ms-animation: stack-animation 600ms calc(100ms * 4);
  -o-animation: stack-animation 600ms calc(100ms * 4);
  animation: stack-animation 600ms calc(100ms * 4);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(1) i.active:nth-child(5) {
  -webkit-animation: stack-animation 600ms calc(100ms * 5);
  -moz-animation: stack-animation 600ms calc(100ms * 5);
  -ms-animation: stack-animation 600ms calc(100ms * 5);
  -o-animation: stack-animation 600ms calc(100ms * 5);
  animation: stack-animation 600ms calc(100ms * 5);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(1) i.active:nth-child(6) {
  -webkit-animation: stack-animation 600ms calc(100ms * 6);
  -moz-animation: stack-animation 600ms calc(100ms * 6);
  -ms-animation: stack-animation 600ms calc(100ms * 6);
  -o-animation: stack-animation 600ms calc(100ms * 6);
  animation: stack-animation 600ms calc(100ms * 6);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(1) i.active:nth-child(7) {
  -webkit-animation: stack-animation 600ms calc(100ms * 7);
  -moz-animation: stack-animation 600ms calc(100ms * 7);
  -ms-animation: stack-animation 600ms calc(100ms * 7);
  -o-animation: stack-animation 600ms calc(100ms * 7);
  animation: stack-animation 600ms calc(100ms * 7);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(1) i.active:nth-child(8) {
  -webkit-animation: stack-animation 600ms calc(100ms * 8);
  -moz-animation: stack-animation 600ms calc(100ms * 8);
  -ms-animation: stack-animation 600ms calc(100ms * 8);
  -o-animation: stack-animation 600ms calc(100ms * 8);
  animation: stack-animation 600ms calc(100ms * 8);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(2) i.active:nth-child(2) {
  -webkit-animation: stack-animation 600ms calc(100ms * 2 + 600ms);
  -moz-animation: stack-animation 600ms calc(100ms * 2 + 600ms);
  -ms-animation: stack-animation 600ms calc(100ms * 2 + 600ms);
  -o-animation: stack-animation 600ms calc(100ms * 2 + 600ms);
  animation: stack-animation 600ms calc(100ms * 2 + 600ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(2) i.active:nth-child(3) {
  -webkit-animation: stack-animation 600ms calc(100ms * 3 + 600ms);
  -moz-animation: stack-animation 600ms calc(100ms * 3 + 600ms);
  -ms-animation: stack-animation 600ms calc(100ms * 3 + 600ms);
  -o-animation: stack-animation 600ms calc(100ms * 3 + 600ms);
  animation: stack-animation 600ms calc(100ms * 3 + 600ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(2) i.active:nth-child(4) {
  -webkit-animation: stack-animation 600ms calc(100ms * 4 + 600ms);
  -moz-animation: stack-animation 600ms calc(100ms * 4 + 600ms);
  -ms-animation: stack-animation 600ms calc(100ms * 4 + 600ms);
  -o-animation: stack-animation 600ms calc(100ms * 4 + 600ms);
  animation: stack-animation 600ms calc(100ms * 4 + 600ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(2) i.active:nth-child(5) {
  -webkit-animation: stack-animation 600ms calc(100ms * 5 + 600ms);
  -moz-animation: stack-animation 600ms calc(100ms * 5 + 600ms);
  -ms-animation: stack-animation 600ms calc(100ms * 5 + 600ms);
  -o-animation: stack-animation 600ms calc(100ms * 5 + 600ms);
  animation: stack-animation 600ms calc(100ms * 5 + 600ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(2) i.active:nth-child(6) {
  -webkit-animation: stack-animation 600ms calc(100ms * 6 + 600ms);
  -moz-animation: stack-animation 600ms calc(100ms * 6 + 600ms);
  -ms-animation: stack-animation 600ms calc(100ms * 6 + 600ms);
  -o-animation: stack-animation 600ms calc(100ms * 6 + 600ms);
  animation: stack-animation 600ms calc(100ms * 6 + 600ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(2) i.active:nth-child(7) {
  -webkit-animation: stack-animation 600ms calc(100ms * 7 + 600ms);
  -moz-animation: stack-animation 600ms calc(100ms * 7 + 600ms);
  -ms-animation: stack-animation 600ms calc(100ms * 7 + 600ms);
  -o-animation: stack-animation 600ms calc(100ms * 7 + 600ms);
  animation: stack-animation 600ms calc(100ms * 7 + 600ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(2) i.active:nth-child(8) {
  -webkit-animation: stack-animation 600ms calc(100ms * 8 + 600ms);
  -moz-animation: stack-animation 600ms calc(100ms * 8 + 600ms);
  -ms-animation: stack-animation 600ms calc(100ms * 8 + 600ms);
  -o-animation: stack-animation 600ms calc(100ms * 8 + 600ms);
  animation: stack-animation 600ms calc(100ms * 8 + 600ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(3) i.active:nth-child(2) {
  -webkit-animation: stack-animation 600ms calc(100ms * 2 + 1200ms);
  -moz-animation: stack-animation 600ms calc(100ms * 2 + 1200ms);
  -ms-animation: stack-animation 600ms calc(100ms * 2 + 1200ms);
  -o-animation: stack-animation 600ms calc(100ms * 2 + 1200ms);
  animation: stack-animation 600ms calc(100ms * 2 + 1200ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(3) i.active:nth-child(3) {
  -webkit-animation: stack-animation 600ms calc(100ms * 3 + 1200ms);
  -moz-animation: stack-animation 600ms calc(100ms * 3 + 1200ms);
  -ms-animation: stack-animation 600ms calc(100ms * 3 + 1200ms);
  -o-animation: stack-animation 600ms calc(100ms * 3 + 1200ms);
  animation: stack-animation 600ms calc(100ms * 3 + 1200ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(3) i.active:nth-child(4) {
  -webkit-animation: stack-animation 600ms calc(100ms * 4 + 1200ms);
  -moz-animation: stack-animation 600ms calc(100ms * 4 + 1200ms);
  -ms-animation: stack-animation 600ms calc(100ms * 4 + 1200ms);
  -o-animation: stack-animation 600ms calc(100ms * 4 + 1200ms);
  animation: stack-animation 600ms calc(100ms * 4 + 1200ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(3) i.active:nth-child(5) {
  -webkit-animation: stack-animation 600ms calc(100ms * 5 + 1200ms);
  -moz-animation: stack-animation 600ms calc(100ms * 5 + 1200ms);
  -ms-animation: stack-animation 600ms calc(100ms * 5 + 1200ms);
  -o-animation: stack-animation 600ms calc(100ms * 5 + 1200ms);
  animation: stack-animation 600ms calc(100ms * 5 + 1200ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(3) i.active:nth-child(6) {
  -webkit-animation: stack-animation 600ms calc(100ms * 6 + 1200ms);
  -moz-animation: stack-animation 600ms calc(100ms * 6 + 1200ms);
  -ms-animation: stack-animation 600ms calc(100ms * 6 + 1200ms);
  -o-animation: stack-animation 600ms calc(100ms * 6 + 1200ms);
  animation: stack-animation 600ms calc(100ms * 6 + 1200ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(3) i.active:nth-child(7) {
  -webkit-animation: stack-animation 600ms calc(100ms * 7 + 1200ms);
  -moz-animation: stack-animation 600ms calc(100ms * 7 + 1200ms);
  -ms-animation: stack-animation 600ms calc(100ms * 7 + 1200ms);
  -o-animation: stack-animation 600ms calc(100ms * 7 + 1200ms);
  animation: stack-animation 600ms calc(100ms * 7 + 1200ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(3) i.active:nth-child(8) {
  -webkit-animation: stack-animation 600ms calc(100ms * 8 + 1200ms);
  -moz-animation: stack-animation 600ms calc(100ms * 8 + 1200ms);
  -ms-animation: stack-animation 600ms calc(100ms * 8 + 1200ms);
  -o-animation: stack-animation 600ms calc(100ms * 8 + 1200ms);
  animation: stack-animation 600ms calc(100ms * 8 + 1200ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(4) i.active:nth-child(2) {
  -webkit-animation: stack-animation 600ms calc(100ms * 2 + 1800ms);
  -moz-animation: stack-animation 600ms calc(100ms * 2 + 1800ms);
  -ms-animation: stack-animation 600ms calc(100ms * 2 + 1800ms);
  -o-animation: stack-animation 600ms calc(100ms * 2 + 1800ms);
  animation: stack-animation 600ms calc(100ms * 2 + 1800ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(4) i.active:nth-child(3) {
  -webkit-animation: stack-animation 600ms calc(100ms * 3 + 1800ms);
  -moz-animation: stack-animation 600ms calc(100ms * 3 + 1800ms);
  -ms-animation: stack-animation 600ms calc(100ms * 3 + 1800ms);
  -o-animation: stack-animation 600ms calc(100ms * 3 + 1800ms);
  animation: stack-animation 600ms calc(100ms * 3 + 1800ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(4) i.active:nth-child(4) {
  -webkit-animation: stack-animation 600ms calc(100ms * 4 + 1800ms);
  -moz-animation: stack-animation 600ms calc(100ms * 4 + 1800ms);
  -ms-animation: stack-animation 600ms calc(100ms * 4 + 1800ms);
  -o-animation: stack-animation 600ms calc(100ms * 4 + 1800ms);
  animation: stack-animation 600ms calc(100ms * 4 + 1800ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(4) i.active:nth-child(5) {
  -webkit-animation: stack-animation 600ms calc(100ms * 5 + 1800ms);
  -moz-animation: stack-animation 600ms calc(100ms * 5 + 1800ms);
  -ms-animation: stack-animation 600ms calc(100ms * 5 + 1800ms);
  -o-animation: stack-animation 600ms calc(100ms * 5 + 1800ms);
  animation: stack-animation 600ms calc(100ms * 5 + 1800ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(4) i.active:nth-child(6) {
  -webkit-animation: stack-animation 600ms calc(100ms * 6 + 1800ms);
  -moz-animation: stack-animation 600ms calc(100ms * 6 + 1800ms);
  -ms-animation: stack-animation 600ms calc(100ms * 6 + 1800ms);
  -o-animation: stack-animation 600ms calc(100ms * 6 + 1800ms);
  animation: stack-animation 600ms calc(100ms * 6 + 1800ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(4) i.active:nth-child(7) {
  -webkit-animation: stack-animation 600ms calc(100ms * 7 + 1800ms);
  -moz-animation: stack-animation 600ms calc(100ms * 7 + 1800ms);
  -ms-animation: stack-animation 600ms calc(100ms * 7 + 1800ms);
  -o-animation: stack-animation 600ms calc(100ms * 7 + 1800ms);
  animation: stack-animation 600ms calc(100ms * 7 + 1800ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.tech-stack__list:nth-child(4) i.active:nth-child(8) {
  -webkit-animation: stack-animation 600ms calc(100ms * 8 + 1800ms);
  -moz-animation: stack-animation 600ms calc(100ms * 8 + 1800ms);
  -ms-animation: stack-animation 600ms calc(100ms * 8 + 1800ms);
  -o-animation: stack-animation 600ms calc(100ms * 8 + 1800ms);
  animation: stack-animation 600ms calc(100ms * 8 + 1800ms);
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -ms-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
@keyframes stack-animation {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  90% {
    transform: translateY(2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-down {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-up {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-left {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.about {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-top: calc(-5rem - 37px);
}
.about__wrapper {
  margin-bottom: -4rem;
}
.about__title {
  font-size: 11.6vw;
  font-size: clamp(60px, 14.6vw, 340px);
  line-height: 14vw;
  margin: 0;
  text-transform: uppercase;
  color: transparent;
  font-family: "Black Ops One", cursive;
  opacity: 0;
  transform: translateX(200px);
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  background-size: 200%;
  -webkit-animation: slide-left 500ms 300ms ease-out forwards, bg-animation 10s 1200ms infinite alternate;
  -moz-animation: slide-left 500ms 300ms ease-out forwards, bg-animation 10s 1200ms infinite alternate;
  -ms-animation: slide-left 500ms 300ms ease-out forwards, bg-animation 10s 1200ms infinite alternate;
  -o-animation: slide-left 500ms 300ms ease-out forwards, bg-animation 10s 1200ms infinite alternate;
  animation: slide-left 500ms 300ms ease-out forwards, bg-animation 10s 1200ms infinite alternate;
}
.about__title:nth-child(2) {
  margin-right: 4rem;
  display: inline-block;
  transform: translateX(200px);
  -webkit-animation: slide-right 500ms 600ms ease-out forwards, bg-animation 5s 1200ms infinite alternate;
  -moz-animation: slide-right 500ms 600ms ease-out forwards, bg-animation 5s 1200ms infinite alternate;
  -ms-animation: slide-right 500ms 600ms ease-out forwards, bg-animation 5s 1200ms infinite alternate;
  -o-animation: slide-right 500ms 600ms ease-out forwards, bg-animation 5s 1200ms infinite alternate;
  animation: slide-right 500ms 600ms ease-out forwards, bg-animation 5s 1200ms infinite alternate;
}
.about__text {
  max-width: 500px;
  font-size: 1.6rem;
  display: inline-block;
  color: #a6a6a6;
  position: relative;
  transform: translateY(200px);
  opacity: 0;
  -webkit-animation: slide-up 500ms 900ms ease-out forwards;
  -moz-animation: slide-up 500ms 900ms ease-out forwards;
  -ms-animation: slide-up 500ms 900ms ease-out forwards;
  -o-animation: slide-up 500ms 900ms ease-out forwards;
  animation: slide-up 500ms 900ms ease-out forwards;
}
.about__category {
  line-height: 0.5;
}

.projects {
  display: flex;
  flex-direction: column;
}
.projects__wrapper {
  position: relative;
  background: #161616;
  padding: 3rem;
  border-radius: 20px;
  display: flex;
  gap: 2rem;
  margin: 4rem 0;
}
@media screen and (max-width: 1000px) {
  .projects__wrapper {
    flex-direction: column;
  }
  .projects__wrapper .project__info {
    flex-basis: auto;
  }
}
@media screen and (max-width: 480px) {
  .projects__wrapper {
    padding: 1rem;
  }
  .projects__wrapper .project, .projects__wrapper .project__info {
    padding: 1rem;
  }
}

.project {
  width: 100%;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.project__img {
  width: inherit;
  border-radius: 10px;
}
.project__info {
  flex-basis: 500px;
  max-width: 500px;
  padding: 0;
  text-align: left;
  align-self: stretch;
  transition: opacity 500ms, left 500ms;
  transition-delay: 500ms;
  display: flex;
  flex-direction: column;
}
.project__title {
  font-size: 2.6rem;
  font-family: "Tourney", cursive;
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  color: transparent;
  pointer-events: none;
  margin-top: 0;
}
.project__text {
  font-size: 1.2rem;
  line-height: 1.3;
  pointer-events: none;
}
.project__links {
  font-size: 1.2rem;
  text-align: left;
  padding: 2rem 0;
  margin-top: auto;
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  display: flex;
  justify-content: flex-start;
}
.project__links a {
  margin-right: 1rem;
  color: #a6a6a6;
}
.project__links a:hover {
  color: transparent;
}
.project__icons {
  opacity: 0;
  transition: opacity 1000ms;
  transition-delay: 500ms;
}
.project__stack {
  color: #7b3386;
  word-spacing: 4px;
  pointer-events: none;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  font-size: 2rem;
  background-color: transparent;
  border: none;
  color: #424242;
}
.arrow:hover {
  cursor: pointer;
  color: #ccc;
}
.arrow__left {
  left: -12px;
}
.arrow__right {
  right: -12px;
}
.arrow--hidden {
  display: none;
}

.info__wrapper {
  display: flex;
  font-size: 1.2rem;
  padding: 2rem 0;
  flex-wrap: wrap;
  align-items: flex-start;
}
.info__item {
  margin: 2rem;
  border-left: 2px solid #3ab7c4;
  flex-basis: 400px;
  background: #161616;
  padding: 2rem;
  border-radius: 10px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.info__item-title {
  color: #7b3386;
  font-size: 1.6rem;
  margin: 0;
}
.info__item-subtitle {
  color: #ccc;
  font-size: 1.4rem;
  margin: 0;
}
.info__item__details {
  font-size: 1rem;
  margin: 0;
}
.info__item-description {
  font-size: 1.2rem;
  margin: 2rem 0;
}

.contact {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;
}
.contact__info {
  font-size: 1.6rem;
  color: #a6a6a6;
  margin: 0 auto;
  max-width: 600px;
}
.contact__info span {
  color: #ccc;
}
.contact__info:not(.greetings) {
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
}
.contact__info.greetings {
  font-size: 8rem;
  color: #ccc;
  font-family: "Teko", cursive;
}
.contact__info.greetings:nth-child(2) {
  display: none;
}

.greetings {
  line-height: 0.7;
}
.greetings span {
  opacity: 0;
}

.greetings.fade-in span:nth-child(1) {
  opacity: 1;
  transition: opacity 1.2s;
}
.greetings.fade-in span:nth-child(2) {
  opacity: 1;
  transition: opacity 1.4s;
}
.greetings.fade-in span:nth-child(3) {
  opacity: 1;
  transition: opacity 1.6s;
}
.greetings.fade-in span:nth-child(4) {
  opacity: 1;
  transition: opacity 1.8s;
}
.greetings.fade-in span:nth-child(5) {
  opacity: 1;
  transition: opacity 2s;
}
.greetings.fade-in span:nth-child(6) {
  opacity: 1;
  transition: opacity 2.2s;
}
.greetings.fade-in span:nth-child(7) {
  opacity: 1;
  transition: opacity 2.4s;
}
.greetings.fade-in span:nth-child(8) {
  opacity: 1;
  transition: opacity 2.6s;
}
.greetings.fade-in span:nth-child(9) {
  opacity: 1;
  transition: opacity 2.8s;
}
.greetings.fade-in span:nth-child(10) {
  opacity: 1;
  transition: opacity 3s;
}
.greetings.fade-in span:nth-child(11) {
  opacity: 1;
  transition: opacity 3.2s;
}
.greetings.fade-in span:nth-child(12) {
  opacity: 1;
  transition: opacity 3.4s;
}
.greetings.fade-in span:nth-child(13) {
  opacity: 1;
  transition: opacity 3.6s;
}
.greetings.fade-in span:nth-child(14) {
  opacity: 1;
  transition: opacity 3.8s;
}

.scroll-arrow {
  position: fixed;
  bottom: 4rem;
  right: 4rem;
  transform: rotate(0deg);
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  font-size: 2rem;
  z-index: 2;
  color: #a6a6a6;
  transition: color 50ms ease-in;
}
.scroll-arrow:hover {
  color: transparent;
  cursor: pointer;
  transition: color 100ms ease-out;
  transform: translate(2px, 2px) rotate(0);
}
@media screen and (min-width: 1540px) {
  .scroll-arrow {
    right: calc((100% - 1540px) / 2 + 4rem);
  }
}

.scroll-arrow--rotated {
  transform: rotate(180deg);
  transition: transform 100ms ease-in-out;
}
.scroll-arrow--rotated:hover {
  transform: translate(2px, 2px) rotate(180deg);
}

.links {
  display: flex;
  column-gap: 1rem;
  background-image: linear-gradient(to right, #3ab7c4, #7b3386, #c89b15);
  margin-top: 1rem;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
}

.link {
  color: inherit;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  -o-background-clip: text;
  background-clip: text;
  transition: color 0.2s;
  font-size: inherit;
}
.link:hover {
  color: transparent;
  transition: color 0.3s;
  cursor: pointer;
}
.link--icon {
  font-size: 1.6rem;
  display: flex;
}
.link--bright {
  color: #a6a6a6;
}
.link--bright:hover {
  color: #7b3386;
}
.link--colored {
  color: transparent;
}

.navbar {
  position: fixed;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  z-index: 1;
}
.navbar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0.8rem;
  width: 10px;
  height: 100vh;
  background: #111;
  pointer-events: none;
  transform: skewX(-1deg);
}
.navbar__bar {
  display: block;
  background-color: transparent;
  border: none;
  width: 10rem;
  height: 16.6666666667vh;
  transition: width 0.1s;
  position: relative;
  color: #a6a6a6;
  font-family: "Teko", sans-serif;
  font-size: inherit;
}
.navbar__bar::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}
.navbar__bar::before {
  content: "";
  position: absolute;
  display: block;
  width: 5px;
  top: 0;
  right: 0;
  height: 100%;
  transform: scaleX(1);
  transition: transform 0.1s;
}
.navbar__bar:nth-child(1)::before {
  background-color: #3ab6c3;
}
.navbar__bar:nth-child(1).active::before {
  transform: skew(-1.1deg) scalex(2);
}
.navbar__bar:nth-child(2)::before {
  background-color: #5089ae;
}
.navbar__bar:nth-child(2).active::before {
  transform: skew(-1.1deg) scalex(3);
  transition: transform 0.6s;
}
.navbar__bar:nth-child(3)::before {
  background-color: #665b98;
}
.navbar__bar:nth-child(3).active::before {
  transform: skew(-1.1deg) scalex(4);
  transition: transform 0.5s;
}
.navbar__bar:nth-child(4)::before {
  background-color: #7c3484;
}
.navbar__bar:nth-child(4).active::before {
  transform: skew(-1.1deg) scalex(5);
  transition: transform 0.4s;
}
.navbar__bar:nth-child(5)::before {
  background-color: #94565f;
}
.navbar__bar:nth-child(5).active::before {
  transform: skew(-1.1deg) scalex(6);
  transition: transform 0.3s;
}
.navbar__bar:nth-child(6)::before {
  background-color: #b17c36;
}
.navbar__bar:nth-child(6).active::before {
  transform: skew(-1.1deg) scalex(7);
  transition: transform 0.2s;
}
.navbar__bar:hover {
  cursor: pointer;
}
.navbar__bar:hover::after {
  top: 50%;
  right: 2rem;
  opacity: 1;
  transition: opacity 0.1s;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}
a:visited, a:active, a:focus, a:focus-within, a:focus-visible, a:hover {
  transition: color 50ms ease-in;
  color: inherit;
}
a:hover {
  cursor: pointer;
  transition: color 100ms ease-out;
}

img {
  filter: brightness(0.8) contrast(1.2);
}

body {
  width: 100%;
  background-color: #111;
  font-family: "Teko", sans-serif;
  color: #a6a6a6;
  overflow-x: hidden;
  margin: 0;
  position: relative;
  visibility: hidden;
  overflow-y: scroll;
}

.main {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 4rem;
}

.paused {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -ms-animation-play-state: paused;
  -o-animation-play-state: paused;
  animation-play-state: paused;
}

.notes {
  margin-top: -4rem;
}

.note {
  font-size: 1.2rem;
  color: #7b3386;
}
.note a {
  color: inherit;
  text-decoration: underline;
}

@media screen and (max-width: 840px) {
  .navbar {
    display: none;
  }
  :root {
    font-size: 12px;
  }
  body {
    background-color: #1b1b1b;
  }
  .main {
    padding: 2rem;
  }
  .about {
    margin-top: -102px;
  }
  .about__wrapper {
    margin-bottom: 0;
  }
  @supports (will-change: transform) {
    .header,
    .about__title,
    .about .about__title:nth-child(2),
    .about__text {
      will-change: transform;
    }
  }
  .header,
  .about__title,
  .about .about__title:nth-child(2),
  .about__text {
    transform: translateZ(0);
  }
  .about:not(:first-child),
  .tech-stack:not(:first-child),
  .projects:not(:first-child),
  .info:not(:first-child),
  .contact:not(:first-child) {
    border-top: 1px solid #424242;
  }
  .header {
    position: relative;
    top: 0;
    padding: 2rem;
  }
  .header__wrapper {
    align-items: flex-start;
    overflow: hidden;
  }
  .header__contact-info {
    max-width: 140px;
    flex-wrap: wrap;
  }
  .tech-stack,
  .projects {
    min-height: 50vh;
  }
  .tech-stack__list {
    margin: 0.4rem;
  }
  .tech-stack__icon {
    font-size: 3.4rem;
  }
  .scroll-arrow {
    bottom: 2rem;
    right: 2rem;
  }
  .project {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }
  .project__title {
    font-size: 2.6rem;
  }
  .project__wrapper {
    position: relative;
    overflow: hidden;
    padding: 0;
    background-color: transparent;
    border-radius: 7px;
    max-width: 300px;
  }
  .project__carousel {
    height: 562.9px;
    width: 260px;
    left: 0;
    opacity: 1;
    display: none;
  }
  .project__info {
    background-color: #161616;
    padding: 2rem;
    opacity: 1;
    height: 100%;
  }
  .project__text {
    padding: 0;
    font-size: 1.3rem;
    text-align: left;
  }
  .project__text:last-child {
    padding: 0 0 2rem;
  }
  .project__img-num {
    background-color: #161616;
  }
  .about__category,
  .tech-stack__category,
  .projects__category {
    font-size: 3rem;
  }
  .contact {
    padding: 6rem 4rem 6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
