@use 'util/variables' as *;
@use 'util/mixins' as *;

.contact {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;

  &__info {
    font-size: 1.4rem;
    color: $gray-2;
    margin: 0 auto;
    max-width: 600px;

    & span {
      color: $gray-1;
    }
    &:not(.greetings) {
      background-image: $gradient-1;
      @include vendor-prefix('background-clip', 'text');
    }
  }

  &__info:first-child {
    font-size: 8rem;
    color: $gray-1;
    font-family: 'Teko', cursive;
  }
}

.greetings {
  line-height: 0.7;
}
