@use 'util/variables' as *;
@use 'util/mixins' as *;

.contact {
  min-height: calc(100vh - 200px); //minus footer
  margin-bottom: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__info {
    font-size: 1.4rem;
    color: $gray-2;
    margin: 0 auto;
    max-width: 400px;

    & span {
      color: $gray-1;
    }
  }

  &__info:first-child {
    font-size: 8rem;
    color: $gray-1;
    font-family: 'Teko', cursive;
  }
}
