@use 'util/variables' as *;
@use 'util/mixins' as *;

.contact {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 2rem;

  &__info {
    font-size: 1.4rem;
    color: $gray-2;
    margin: 0 auto;
    max-width: 600px;

    & span {
      color: $gray-1;
    }
    &:not(.greetings) {
      background-image: $gradient-1;
      @include vendor-prefix('background-clip', 'text');
    }
  }

  &__info.greetings {
    font-size: 8rem;
    color: $gray-1;
    font-family: 'Teko', cursive;

    &:nth-child(2) {
      display: none;
    }
  }
}

.greetings {
  line-height: 0.7;
  span {
    opacity: 0;
  }
}

.greetings.fade-in {
  @for $i from 1 through 14 {
    span:nth-child(#{$i}) {
      opacity: 1;
      transition: opacity calc(1s + 0.2s * $i);
    }
  }
}
