@use 'util/variables' as *;
@use 'util/mixins' as *;
.navbar {
    position: fixed;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    &__bar {
        width: 10rem;
        height: calc(100vh / 6);
        transition: width 0.1s;
        position: relative;
        &::after {
            content: attr(data-text);
            position: absolute;
            top: 0;
            right: 0;
            opacity: 0;
        }
        &::before {
            content: '';
            position: absolute;
            display: block;
            width: 5px;
            right: 0;
            height: 100%;
            transform: scaleX(1);
            transition: transform 0.1s;
        }
        &:nth-child(1) {
            &::before {
                background-color: $rainbow-1;
            }
            &.active {
                &::before {
                    transform: scalex(2);
                } 
            }
        }
        &:nth-child(2) {
            &::before {
                background-color: $rainbow-2;
            }
            &.active {
                &::before {
                    transform: scalex(3);
                    transition: transform 0.6s;
                } 
            }
        }
        &:nth-child(3) {
            &::before {
                background-color: $rainbow-3;
            }
            &.active {
                &::before {
                    transform: scalex(4);
                    transition: transform 0.5s;
                } 
            }
        }
        &:nth-child(4) {
            &::before {
                background-color: $rainbow-4;
            }
            &.active {
                &::before {
                    transform: scalex(5);
                    transition: transform 0.4s;
                } 
            }
        }
        &:nth-child(5) {
            &::before {
                background-color: $rainbow-5;
            }
            &.active {
                &::before {
                    transform: scalex(6);
                    transition: transform 0.3s;
                } 
            }
        }
        &:nth-child(6) {
            &::before {
                background-color: $rainbow-6;
            }
            &.active {
                &::before {
                    transform: scalex(7);
                    transition: transform 0.2s;
                } 
            }
        }
        &:hover {
            cursor: pointer;
            &::after {
                top: 50%;
                right: 2rem;
                opacity: 1;
                transition: opacity 0.1s;
            }
        }
    }
}