@use 'util/variables' as *;
@use 'util/mixins' as *;

.projects {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__titles {
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
    margin: 0 4rem 4rem;

    &--list {
      display: none;
    }
  }

  &__title {
    width: 12px;
    height: 12px;
    padding: 2px;
    margin: 1rem;
    border-radius: 100%;
    position: relative;
    border: 1px solid $gray-1;

    &:hover {
      cursor: pointer;
      background-image: $gradient-3;
    }

    &--selected {
      background-image: $gradient-3;
      width: 13px; // width + border
      height: 13px; // height + border
      border: none;
    }
  }

  &__list {
    position: relative;
    display: flex;
    width: 100vw;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;

    &--list {
      flex-direction: column;
    }
  }
}

.project {
  position: relative;
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding: 5rem;
  padding-bottom: 1rem;

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    background-color: $dark-2;
    border-radius: 20px;
    box-shadow: $shadow-1;
    column-gap: 3rem;
    &:hover {
      .project__carousel {
        z-index: 1;
        opacity: 1;
        transition: opacity 1s;
        
      }
    }
  }

  &__carousel {
    height: 649.6px;
    width: 300px;
    overflow: hidden;
  }

  &__img {
    width: inherit;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
    visibility: hidden;
    &:hover {
      cursor: pointer;
    }

    &--active {
      z-index: 0;
      visibility: visible;
    }
  }

  &__img-num {
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    color: $bright-1;
    padding: 0.5rem;
    width: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: $dark-3;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    position: absolute;
  }

  &__info {
    max-width: 400px;
    padding: 0;
    text-align: left;
    align-self: flex-end;
    transition: opacity 500ms, left 500ms;
    transition-delay: 500ms;
  }

  &__title {
    font-size: 3rem;
    font-family: 'Tourney', cursive;
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    color: transparent;
    pointer-events: none;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.3;
    pointer-events: none;
  }

  &__links {
    font-size: 1.4rem;
    text-align: left;
    margin: 2rem 0;
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    display: flex;
    justify-content: flex-start;

    & a {
      margin-right: 1rem;
      color: $gray-2;

      &:hover {
        color: transparent;
      }
    }
  }

  &__icons {
    opacity: 0;
    transition: opacity 1000ms;
    transition-delay: 500ms;
  }

  &__stack {
    color: $bright-2;
    word-spacing: 4px;
    pointer-events: none;
  }
}
