$dark-1: #111;
$dark-2: #161616;
$dark-3: #1b1b1b;
$gray-1: #ccc;
$gray-2: #a6a6a6;
$gray-3: #424242;
$bright-1: #28bfbf;
$bright-2: #af5795;
$gradient-1: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
$gradient-2: linear-gradient(to right, #756792, #9c6b6f, #c5a086);
$gradient-3: radial-gradient(#d76d77, #ffaf7b);
$sides: 4rem;
$shadow-1: 2px 2px 10px #0000000d;
$max-width: 1540px;
