$dark-1: #111;
$gray-1: #ccc;
$gray-2: #999; 
$bright-1: rgb(81, 199, 199);
$bright-2: #9c6b6f;
$gradient-1: linear-gradient(to right, #3a1c71 , #d76d77 , #ffaf7b);
$gradient-2: linear-gradient(to right, #756792 , #9c6b6f , #c5a086);
$gradient-4: linear-gradient(to bottom, #756792 , #9c6b6f , #c5a086);
$gradient-3: radial-gradient(#3a1c71 , #d76d77);
$sides: 4rem;
$shadow-1: 2px 2px 10px #0000000d;

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-size: 16px;
}

a {
    text-decoration: none;
    &:visited,
    &:active,
    &:focus,
    &:focus-within,
    &:focus-visible,
    &:hover {
        color: inherit;
    }
}

body {
    width: 100%;
    padding: $sides;
    background-color: $dark-1;
    font-family: 'Teko', sans-serif;
    color: $gray-2;
    overflow-x: hidden;
}

.about,
.tech-stack,
.projects, 
.list,
.contact {
    min-height: 100vh;
    padding: 6rem 0 6rem;

    &:not(:first-child) {
        padding: 6rem 0;
        border-top: 1px solid rgb(48, 48, 48);
    }

    &__category {
        text-transform: uppercase;
        color: $bright-1;
        font-size: 2.8rem;
        margin: 4rem 1rem 4rem 0;
        font-family: 'Tourney', cursive;

        &::after {
            content: ":";
        }
    }
}

.header {
    $font-size: 1.2rem;
    position: fixed;
    top: 0rem;
    left: 0;
    right: 0;
    padding: 4rem 4rem 1rem;
    background-color: $dark-1;
    font-family: inherit;
    color: $gray-2;
    z-index: 1;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-image: $gradient-1;
        background-clip: text;
        -webkit-background-clip: text;
    }

    &__brand-wrapper {
        display: flex;
        justify-content: space-between;   
        width: 40%;
    }

    &__brand {
        font-size: 1.4rem;
        color: $gray-1;
    }

    &__brand-additional {
        font-size: 1.2rem; 
        align-self: flex-end;
    }

    &__contact-info {
        display: flex;
        font-family: inherit;
        font-size: $font-size;
    }

    &__contact-info-item {
        color: $gray-2;
        margin: 0 10px;
        display: flex;
        align-items: center;

        & a:hover {
            color: transparent;
        }

        & i {
            font-size: calc(#{$font-size} + 4px);
            margin-right: 4px;
        }
    }
}

.about {
    position: relative;

    &__wrapper {
        position: absolute;
        bottom: 8rem;        
    }

    & h1:last-of-type {
        margin-right: 4rem;
    }

    &__bottom {
        display: flex;
        flex-wrap: wrap;
    }

    &__title {
        background-image: $gradient-2;
        -webkit-background-clip: text;
        background-clip: text;
        animation: bg-animation 6s infinite alternate;
        -webkit-animation: bg-animation 6s infinite alternate;
        background-size: 400%;
        font-size: 13vw;
        line-height: 14vw;
        margin: 0;
        text-transform: uppercase;
        color: $gray-2;
        display: inline-block;
        color: transparent;
        font-family: 'Black Ops One', cursive;
    }

    &__text {
        max-width: 500px;
        font-size: 1.6rem;
        display: inline-block;
    }

    &__category {
        line-height: 0.5;
    }

    &::after {
        content: '';
        display: table;
        clear: both;
    }
}

.tech-stack {
    display: flex;
    flex-direction: column;

    &__tech {
        display: flex;
        flex-wrap: wrap;
        margin: 1rem auto;
    }

    &__list {
        display: flex;
        flex-direction: column-reverse;
        margin: 2rem;

        & > i {
            background-image: $gradient-4;
            background-clip: text;
            -webkit-background-clip: text;
            font-size: 4.1rem;
            padding: 10px;
            position: relative;
            top: 0px;
            opacity: 0;
            color: transparent;

            &:hover {
                cursor: pointer;
            }

            &.active {
                color: transparent; 
            }
        }
    }

    &__list-category {
        color: $bright-1;
        font-size: 1.2rem;
        border-top: 2px solid $bright-1;
        margin: 2rem 0;
        padding: 0.6rem 0 0;
    }
}

.projects {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__display {
        background-image: $gradient-1;
        background-clip: text;
        -webkit-background-clip: text;
        font-size: 1.2rem;
        & i {
            font-size: 1.8rem;
            padding: 1rem;

            &:hover {
                color: transparent;
                cursor: pointer;   
            }
        }
        & i.selected {
            color: transparent;
        }
        margin-top: -4rem;
    }

    &__titles {
        background-image: $gradient-1;
        background-clip: text;
        -webkit-background-clip: text;
        display: flex;
        font-size: 2.4rem;
        justify-content: center;
        margin: 4rem;

        &--list {
            display: none;
        }
    }

    &__title {
        width: 12px;
        height: 12px;
        padding: 2px;
        margin: 1rem;
        border-radius: 100%;
        position: relative;
        border: 1px solid $gray-1;

        &:hover {
            cursor: pointer;
            background-image: $gradient-3;
        }

        &--selected {
            background-image: $gradient-3;
            width: 13px; // width + border
            height: 13px; // height + border
            border: none;
        }
    }

    &__list {
        position: relative;
        display: flex;
        width: 100vw;

        &--list {
            flex-direction: column;
        }
    }
}

.project {
    left: -4rem; // body padding
    position: relative;
    width: 100vw;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    margin: 10rem 0 0;

    &__wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;    
        flex-direction: row;
        justify-content: center;
        padding: 2rem;
        background-color:rgb(22, 22, 22);
        border-radius: 20px;
        box-shadow: $shadow-1;
    }

    &__carousel {
        left: -200px; //animation
        height: 649.6px;
        width: 300px;
        overflow: hidden;
        position: relative;
        opacity: 0; // animation
        align-self: flex-end;
    }

    &__img {
        width: inherit;
        border-radius: 10px;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
        &:hover {
            cursor: pointer;
        }

        &--active {
            z-index: 0;
        }
    }

    &__img-num {
        font-size: 2rem;
        font-family: 'Teko', sans-serif;
        color: $bright-1;
        padding: 4px;
        width: 5rem;
        padding: 0.5rem;
        left: -200px; //animation
        opacity: 0; //animation
    }

    &__info {
        max-width: 400px;
        padding: 0 3rem 0;
        text-align: left;
        align-self: flex-end;
        position: relative;
        left: 200px; //animation
        opacity: 0; //animation
    }

    &__title {
        font-size: 3rem;
        font-family: 'Tourney', cursive;
        background-image: $gradient-1;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &__text {
        font-size: 1.4rem;
        line-height: 1.3;
    }

    &__links {
        font-size: 1.4rem;
        text-align: left;
        margin: 2rem 0; 
        background-image: $gradient-1;
        background-clip: text;
        -webkit-background-clip: text;
        display: flex;
        justify-content: flex-end;
        
        & a {
            margin: 1rem;
            color: $gray-2;

            &:hover {
                cursor: pointer;
                color: transparent;
            }
        }
    }

    &__icons {
        display: none;
    }

    &__stack {
        word-spacing: 4px;
        color: #424242;
    }
}

.project.active {
    & .project__carousel {
        animation: slide-right 500ms ease-in;
        animation-fill-mode: forwards;
        -webkit-animation: slide-right 500ms ease-in;
        -webkit-animation-fill-mode: forwards;
    }
    & .project__info {
        animation: slide-left 500ms 400ms ease-in;
        animation-fill-mode: forwards;
        -webkit-animation: slide-left 500ms 400ms ease-in;
        -webkit-animation-fill-mode: forwards;
    }
    & .project__img-num {
        -webkit-animation: slide-right 500ms 800ms ease-in;
        -webkit-animation-fill-mode: forwards; 
        animation: slide-right 500ms 800ms ease-in;
        animation-fill-mode: forwards; 
    }
}

.project:nth-child(even) {
    & .project__wrapper{
        flex-direction: row-reverse;
    }
    & .project__info {
        text-align: left;
    }
    & .project__links {
        justify-content: flex-start;
    }
}

.project.active:nth-child(even) {
    & .project__wrapper{
        flex-direction: row-reverse;
    }
    & .project__info {
        text-align: left;
    }
    & .project__links {
        justify-content: flex-start;
    }
    & .project__carousel {
        animation: slide-left 500ms ease-in;
        animation-fill-mode: forwards;
    }
    & .project__info {
        animation: slide-right 500ms 400ms ease-in;
        animation-fill-mode: forwards;
    }
}

.list {
    min-height: 50vh;

    &__wrapper {
        display: flex;
        font-size: 1.2rem;
        padding: 2rem 0;
        flex-wrap: wrap;

        & div {
            padding: 2rem;
        }

        & p, & span {
            margin: 0;
            padding-left: 1rem;
            border-left: 2px solid $bright-1;
        }

        & p:first-child {
            color: $bright-2;
            font-size: 1.6rem;
        }

        & p:last-of-type {
            color: $gray-1;
            font-size: 1.4rem;
        }

        & span {
            font-size: 1rem; 
        }
    }
}
.contact {
    min-height: 50vh;
    margin-bottom:  6rem;
    text-align: center;

    &__info {
        font-size: 1.4rem;
        color: $gray-2;
        margin: 0;
    }

    &__info:first-child {
        margin: 0;
        color: gray-1;
        font-family: 'Teko', cursive;
        font-size: 8rem;
    }
}

.footer {
    position: relative;
    bottom: calc((#{$sides} + 1rem) * -1);
    left: calc((#{$sides} + 1rem) * -1);
    right: calc(#{$sides} + 1rem);
    text-align: center;
    font-size: 1.2rem;
    background: rgb(22, 22, 22);
    padding: 1rem;
    width: 100vw;

    & span {
        background-image: $gradient-1;
        background-clip: text;
        -webkit-background-clip: text;

        &:hover {
            color: transparent;
            cursor: pointer;
        }
    }
}

.header__brand,
.header__brand-additional,
.header__contact-info-item {
    color: $gray-2; 

    &:hover {
        color: transparent;
    }

    & i:hover {
        & + a {
            color: transparent; 
        }
    }
}

.header__brand,
.header__brand-additional {
    &:hover {
        cursor: pointer;
    }
}

@for $i from 2 through 6 {
    .tech-stack__list:nth-child(1) i.active:nth-child(#{$i}) {
        animation: stack-animation 1000ms calc(100ms * #{$i});
        animation-fill-mode: forwards;
    }
}

@for $i from 2 through 6 {
    .tech-stack__list:nth-child(2) i.active:nth-child(#{$i}) {
        animation: stack-animation 1000ms calc(100ms * #{$i} + 600ms);
        animation-fill-mode: forwards;
    }
}

@for $i from 2 through 6 {
    .tech-stack__list:nth-child(3) i.active:nth-child(#{$i}) {
        animation: stack-animation 1000ms calc(100ms * #{$i} + 1200ms);
        animation-fill-mode: forwards;
    }
}

@for $i from 2 through 5 {
    .tech-stack__list:nth-child(4) i.active:nth-child(#{$i}) {
        animation: stack-animation 1000ms calc(100ms * #{$i} + 1800ms);
        animation-fill-mode: forwards;
    }
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }
    100% {
        background-position: right;
    }
}

@keyframes stack-animation {
    0% {
        top: -80px;
        opacity: 0;
    }
    90% {
        top: 2px;
        opacity: 1; 
    }
    100% {
        top: 0px;
        opacity: 1;
    }
}

@keyframes slide-right {
    0% {
        opacity: 0;
        left: -200px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes slide-left {
    0% {
        opacity: 0;
        left: 200px;
    }
    100% {
        opacity: 1;
        left: 0;
    }
}

@keyframes opacity {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    } 
}

@media screen and (max-width: 840px) {
    $dark-1: #181818;

    :root {
        font-size: 12px;
    }

    $sides: 2rem;

    body {
        background-color: $dark-1;
        padding: $sides;
        margin: 0;
    }

    .about {
        min-height: calc(100vh - 140px); // minus header
        padding-bottom: 3rem;

        &__wrapper {
            bottom: 0rem;
        }
    }

    .tech-stack,
    .projects {
        min-height: 50vh;
    }

    .header {
        padding: 0;
        background-color: $dark-1;
        position: static;
        &__wrapper {
            align-items: flex-start;
        }
        &__contact-info {
            flex-direction: column;
            align-items: flex-end;
        }
        &__contact-info-item {
            margin: 0;
        }
    }

    .tech-stack {
        &__list {
            margin: 0.4rem;

            & i {
                font-size: 2.8rem;
            }
        }
    }

    .projects {
        &__titles {
            align-self: center;
        }
    }

    .project {
        flex-direction: column;
        align-items: center;
        left: -2rem; // as body padding

        &__title {
            font-size: 2.6rem;
        }

        &__wrapper {
            position: relative;
            overflow: hidden;
            padding: 0;
            background-color: transparent;
            border-radius: 7px;
        }

        &__carousel {
            height: 562.9px;
            width: 260px;
        }

        &__img-num {
            position: absolute;
            padding-right: 2rem;
            background-color: rgb(22, 22, 22);
            border-bottom-right-radius: 10px;
        }

        &__info {
            padding-top: 2rem;
            align-self: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgb(22, 22, 22);
            border-radius: 7px;
            padding: 2rem;
            opacity: 0;
        }

        &__text {
            padding: 0;
            font-size: 1.3rem;
            text-align: left;

            &:last-child {
                padding: 0 0 2rem; 
            }
        }

        &__icons {
            display: initial;
            align-self: flex-end;
            background-image: $gradient-1;
            background-clip: text;
            -webkit-background-clip: text;
            font-size: 1.2rem;
            margin: 0;
            display: inline-block;

            &:hover {
                cursor: pointer;
                color: transparent;
            }
        }
    }

    .about,
    .tech-stack,
    .projects {
        &__category {
            font-size: 3rem;
        }
    }
    
    .footer {
        bottom: -2rem; // padding and 1
        left: -2rem;
        right: 2rem;
    }

    .project {
        & .project-info {
            left: 0;
            opacity: 0;
        }
    }

    .project.active {
        & .project__info {
            animation: opacity 500ms 400ms ease-in;
            animation-fill-mode: forwards;
            -webkit-animation: opacity 500ms 400ms ease-in;
            -webkit-animation-fill-mode: forwards;
        }
    }

    .project:nth-child(even) {
        & .project-info {
            left: 0;
            opacity: 0;
            text-align: left;
        }
    }

    .project.active:nth-child(even) {
        & .project__info {
            animation: opacity 500ms 400ms ease-in;
            animation-fill-mode: forwards;
            -webkit-animation: opacity 500ms 400ms ease-in;
            -webkit-animation-fill-mode: forwards;
        }
    }
}