$dark-1: #111;
$dark-2: #161616;
$dark-3: #1b1b1b;
$gray-1: #ccc;
$gray-2: #999;
$gray-3: #424242;
$bright-1: #ffaf7b;
$bright-2: #d76d77;
$gradient-1: linear-gradient(to right, #3a1c71, #d76d77, #ffaf7b);
$gradient-2: linear-gradient(to right, #756792, #9c6b6f, #c5a086);
$gradient-3: radial-gradient(#d76d77, #3a1c71);
$sides: 4rem;
$shadow-1: 2px 2px 10px #0000000d;

@mixin vendor-prefix($name, $value) {
  @each $vendor in ('-webkit-', '-moz-', '-ms-', '-o-', '') {
    #{$vendor}#{$name}: #{$value};
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-size: 16px;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  &:visited,
  &:active,
  &:focus,
  &:focus-within,
  &:focus-visible,
  &:hover {
    color: inherit;
    transition: color 50ms ease-in;
  }

  &:hover {
    cursor: pointer;
    transition: color 100ms ease-out;
  }
}

body {
  width: 100%;
  background-color: $dark-1;
  font-family: 'Teko', sans-serif;
  color: $gray-2;
  overflow-x: hidden;
  margin: 0;
  position: relative;
  visibility: hidden;
  overflow-y: scroll;
}

.scroll-arrow {
  position: fixed;
  bottom: $sides;
  right: $sides;
  background-image: $gradient-1;
  @include vendor-prefix('background-clip', 'text');
  font-size: 2rem;
  z-index: 2;
  color: $gray-2;
  transition: color 50ms ease-in;

  &:hover {
    color: transparent;
    cursor: pointer;
    transition: color 100ms ease-out;
  }
}

.main {
  padding: $sides;
  width: 100vw;
}

.about,
.tech-stack,
.projects,
.info,
.contact {
  min-height: 100vh;
  padding: 6rem 0 6rem;

  &:not(:first-child) {
    border-top: 1px solid $dark-3;
  }

  &__category {
    text-transform: uppercase;
    color: $bright-1;
    font-size: 2.8rem;
    margin: 0 1rem 4rem 0;
    font-family: 'Tourney', cursive;

    &::after {
      content: ':';
    }
  }
}

.header {
  position: sticky;
  top: -3rem;
  $font-size: 1.4rem;
  transform: translateY(-200px);
  padding: $sides $sides 1rem;
  background-color: inherit;
  font-family: inherit;
  color: $gray-2;
  z-index: 1;
  @include vendor-prefix('animation', 'slide-down 500ms ease-out');
  @include vendor-prefix('animation-fill-mode', 'forwards');

  &__wrapper {
    display: flex;
    justify-content: space-between;
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
  }

  &__brand-wrapper {
    display: flex;
    justify-content: space-between;
    width: 40%;
  }

  &__brand {
    font-size: 1.6rem;
    color: $gray-1;

    &:hover {
      color: transparent;
      cursor: pointer;
    }
  }

  &__brand-additional {
    font-size: $font-size;
    line-height: 1.5;
    align-self: flex-end;
    color: $gray-2;

    &:hover {
      color: transparent;
      cursor: pointer;
    }
  }

  &__contact-info {
    display: flex;
    font-family: inherit;
    font-size: $font-size;
    color: $gray-2;
    justify-content: flex-end;
    align-items: flex-end;
  }

  &__contact-info-item {
    color: gray-2;
    margin-left: 10px;
    line-height: 1.5;

    &:hover {
      color: transparent;
    }

    & i {
      color: $gray-2;
      font-size: calc(#{$font-size} + 4px);

      &:hover {
        color: transparent;
      }
    }
  }
}

.about {
  display: flex;
  align-items: flex-end;
  position: relative;
  margin-top: calc(-5rem - 37px);

  &__title {
    font-size: 13vw;
    line-height: 14vw;
    margin: 0;
    text-transform: uppercase;
    color: transparent;
    font-family: 'Black Ops One', cursive;
    opacity: 0;
    transform: translateX(-200px);
    background-image: $gradient-2;
    @include vendor-prefix('background-clip', 'text');
    background-size: 200%;
    color: transparent;
    @include vendor-prefix(
      'animation',
      'slide-left 500ms 300ms ease-out forwards, bg-animation 10s 1200ms infinite alternate'
    );
  }

  & h1:last-of-type {
    margin-right: 4rem;
    display: inline-block;
    transform: translateX(200px);
    @include vendor-prefix(
      'animation',
      'slide-right 500ms 600ms ease-out forwards, bg-animation 5s 1200ms infinite alternate'
    );
  }

  &__text {
    max-width: 500px;
    font-size: 1.6rem;
    display: inline-block;
    color: $gray-2;
    position: relative;
    transform: translateY(200px);
    opacity: 0;
    @include vendor-prefix(
      'animation',
      'slide-up 500ms 900ms ease-out forwards'
    );
  }

  &__category {
    line-height: 0.5;
  }
}

.paused {
  @include vendor-prefix('animation-play-state', 'paused');
}

.tech-stack {
  display: flex;
  flex-direction: column;

  &__tech {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__list {
    display: flex;
    flex-direction: column-reverse;
    margin: 2rem;
  }

  &__icon {
    background: $gradient-3;
    @include vendor-prefix('background-clip', 'text');
    font-size: 4.1rem;
    padding: 10px;
    transform: translateY(0); // animation
    opacity: 0; // animation
    color: transparent;

    &:hover {
      cursor: pointer;
    }
  }

  &__list-sub {
    color: $bright-1;
    font-size: 1.2rem;
    border-top: 2px solid $bright-1;
    margin: 2rem 0;
    padding: 0.6rem 0 0;
  }
}

@for $i from 2 through 6 {
  .tech-stack__list:nth-child(1) i.active:nth-child(#{$i}) {
    @include vendor-prefix(
      'animation',
      'stack-animation 600ms calc(100ms * #{$i})'
    );
    @include vendor-prefix('animation-fill-mode', 'forwards');
  }
}

@for $i from 2 through 6 {
  .tech-stack__list:nth-child(2) i.active:nth-child(#{$i}) {
    @include vendor-prefix(
      'animation',
      'stack-animation 600ms calc(100ms * #{$i} + 600ms)'
    );
    @include vendor-prefix('animation-fill-mode', 'forwards');
  }
}

@for $i from 2 through 6 {
  .tech-stack__list:nth-child(3) i.active:nth-child(#{$i}) {
    @include vendor-prefix(
      'animation',
      'stack-animation 600ms calc(100ms * #{$i} + 1200ms)'
    );
    @include vendor-prefix('animation-fill-mode', 'forwards');
  }
}

@for $i from 2 through 6 {
  .tech-stack__list:nth-child(4) i.active:nth-child(#{$i}) {
    @include vendor-prefix(
      'animation',
      'stack-animation 600ms calc(100ms * #{$i} + 1800ms)'
    );
    @include vendor-prefix('animation-fill-mode', 'forwards');
  }
}

.projects {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__display {
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    font-size: 1.4rem;
    margin-top: -3rem;
  }

  &__display-icon {
    font-size: 1.8rem;
    padding: 0.4rem;

    &:hover {
      color: transparent;
      cursor: pointer;
    }
  }

  &__display-icon.selected {
    color: transparent;
  }

  &__titles {
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    display: flex;
    font-size: 2.4rem;
    justify-content: center;
    margin: 4rem;

    &--list {
      display: none;
    }
  }

  &__title {
    width: 12px;
    height: 12px;
    padding: 2px;
    margin: 1rem;
    border-radius: 100%;
    position: relative;
    border: 1px solid $gray-1;

    &:hover {
      cursor: pointer;
      background-image: $gradient-3;
    }

    &--selected {
      background-image: $gradient-3;
      width: 13px; // width + border
      height: 13px; // height + border
      border: none;
    }
  }

  &__list {
    position: relative;
    display: flex;
    width: 100vw;

    &--list {
      flex-direction: column;
    }
  }
}

.project {
  left: -4rem; // body padding
  position: relative;
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  margin: 10rem 0 0;
  padding: 5rem;

  &__wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 3rem;
    background-color: $dark-2;
    border-radius: 20px;
    box-shadow: $shadow-1;
    column-gap: 3rem;
  }

  &__carousel {
    height: 649.6px;
    width: 300px;
    overflow: hidden;
    position: relative;
    align-self: flex-end;
    left: -200px;
    opacity: 0;
    transition: opacity 500ms, left 500ms;
  }

  &__img {
    width: inherit;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    &:hover {
      cursor: pointer;
    }

    &--active {
      z-index: 0;
    }
  }

  &__img-num {
    font-size: 2rem;
    font-family: 'Teko', sans-serif;
    color: $bright-1;
    padding: 0.5rem;
    width: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background-color: $dark-3;
    border-bottom-right-radius: 7px;
    border-top-left-radius: 7px;
    position: absolute;
  }

  &__info {
    max-width: 300px;
    padding: 0;
    text-align: left;
    align-self: flex-end;
    position: relative;
    left: 200px;
    opacity: 0;
    transition: opacity 500ms, left 500ms;
    transition-delay: 500ms;
  }

  &__title {
    font-size: 3rem;
    font-family: 'Tourney', cursive;
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    color: transparent;
  }

  &__text {
    font-size: 1.4rem;
    line-height: 1.3;
  }

  &__links {
    font-size: 1.4rem;
    text-align: left;
    margin: 2rem 0;
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    display: flex;
    justify-content: flex-start;

    & a {
      margin-right: 1rem;
      color: $gray-2;

      &:hover {
        color: transparent;
      }
    }
  }

  &__icons {
    display: none;
  }

  &__stack {
    color: $bright-2;
    word-spacing: 4px;
  }

  &:nth-child(even) {
    & .project__wrapper {
      flex-direction: row-reverse;
    }

    & .project__carousel {
      opacity: 0;
      left: 200px;
      transition: opacity 500ms, left 500ms;
      transition-delay: 500ms;
    }

    & .project__info {
      opacity: 0;
      left: -200px;
      transition: opacity 500ms, left 500ms;
    }
  }
}

.project.active {
  & .project__carousel {
    opacity: 1;
    left: 0;
    transition: opacity 500ms, left 500ms;
  }
  & .project__info {
    opacity: 1;
    left: 0;
    transition: opacity 500ms, left 500ms;
    transition-delay: 500ms;
  }
}

.project.active:nth-child(even) {
  & .project__carousel {
    opacity: 1;
    left: 0;
    transition: opacity 500ms, left 500ms;
    transition-delay: 500ms;
  }
  & .project__info {
    opacity: 1;
    left: 0;
    transition: opacity 500ms, left 500ms;
  }
}

.info {
  min-height: 50vh;

  &__wrapper {
    display: flex;
    font-size: 1.2rem;
    padding: 2rem 0;
    flex-wrap: wrap;
  }

  &__item {
    margin: 2rem;
    padding-left: 1rem;
    border-left: 2px solid $bright-1;

    & p,
    & span {
      margin: 0;
      font-size: 1rem;
    }

    & p:first-child {
      color: $bright-2;
      font-size: 1.6rem;
    }

    & p:last-of-type {
      color: $gray-1;
      font-size: 1.4rem;
    }
  }
}

.contact {
  min-height: calc(100vh - 200px); //minus footer
  margin-bottom: 6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &__info {
    font-size: 1.4rem;
    color: $gray-2;
    margin: 0 auto;
    max-width: 400px;

    & span {
      color: $gray-1;
    }
  }

  &__info:first-child {
    font-size: 8rem;
    color: $gray-1;
    font-family: 'Teko', cursive;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1.2rem;
  background-color: $dark-2;
  padding: 1rem;
  word-spacing: 2px;

  & p {
    margin: 1rem 2rem;
  }

  &__link {
    background-image: $gradient-1;
    @include vendor-prefix('background-clip', 'text');
    color: $gray-2;

    &:hover {
      color: transparent;
    }
  }
}

.arrow-down {
  background-image: $gradient-1;
  @include vendor-prefix('background-clip', 'text');
  color: transparent;
  position: absolute;
  bottom: $sides;
  right: $sides;
  font-size: 2rem;
  &:hover {
    cursor: pointer;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes stack-animation {
  0% {
    transform: translateY(-80px);
    opacity: 0;
  }
  90% {
    transform: translateY(2px);
    opacity: 1;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes slide-right {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes slide-left {
  0% {
    transform: translateX(200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.scroll-arrow {
  bottom: $sides;
  right: $sides;
  transform: rotate(0deg);
  transition: transform 100ms ease-in-out;
}

.scroll-arrow--rotated {
  transform: rotate(180deg);
  transition: transform 100ms ease-in-out;
}

@media screen and (max-width: 840px) {
  $sides: 2rem;

  :root {
    font-size: 12px;
  }

  body {
    background-color: $dark-3;
  }

  .main {
    padding: $sides;
  }

  @supports (will-change: transform) {
    .header,
    .about__title,
    .about h1:last-of-type,
    .about__text {
      will-change: transform;
    }
  }

  .header,
  .about__title,
  .about h1:last-of-type,
  .about__text {
    transform: translateZ(0);
  }

  .about,
  .tech-stack,
  .projects,
  .info,
  .contact {
    &:not(:first-child) {
      border-top: 1px solid $gray-3;
    }
  }

  .header {
    position: relative;
    top: 0;
    padding: $sides;

    &__wrapper {
      align-items: flex-start;
      overflow: hidden;
    }

    &__contact-info {
      max-width: 140px;
      flex-wrap: wrap;
    }
  }

  .about {
    margin-top: calc(-2rem - 79px);
  }

  .tech-stack,
  .projects {
    min-height: 50vh;
  }

  .tech-stack {
    &__list {
      margin: 0.4rem;
    }

    &__icon {
      font-size: 3.4rem;
    }
  }

  .scroll-arrow {
    bottom: $sides;
    right: $sides;
  }

  .project {
    flex-direction: column;
    align-items: center;
    left: calc(-1 * #{$sides}); // as body padding
    padding: 0;

    &__title {
      font-size: 2.6rem;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
      padding: 0;
      background-color: transparent;
      border-radius: 7px;
    }

    &__carousel {
      height: 562.9px;
      width: 260px;
      left: 0;
      opacity: 1;
    }

    &__info {
      position: absolute;
      bottom: 0px;
      left: 0;
      right: 0;
      background-color: $dark-2;
      padding: 2rem;
      opacity: 1;
      transition: bottom 1200ms;
      height: 100%;

      &.minified {
        bottom: -500px;
      }
    }

    &__text {
      padding: 0;
      font-size: 1.3rem;
      text-align: left;

      &:last-child {
        padding: 0 0 2rem;
      }
    }

    &__icons {
      background-image: $gradient-1;
      @include vendor-prefix('background-clip', 'text');

      font-size: 1.2rem;
      margin: 0;
      display: inline-block;

      &:hover {
        cursor: pointer;
        color: transparent;
      }
    }

    &:nth-child(even) {
      & .project__carousel {
        left: 0;
        opacity: 1;
      }

      & .project__info {
        left: 0;
        bottom: 0px;
        transition: bottom 1000ms;
        opacity: 1;

        &.minified {
          bottom: -500px;
        }
      }
    }
  }

  .about,
  .tech-stack,
  .projects {
    &__category {
      font-size: 3rem;
    }
  }

  .project.active,
  .project.active:nth-child(even) {
    & .project__carousel {
      left: 0;
      opacity: 1;
      transition: none;
    }

    & .project__info {
      bottom: 0;
      transition: bottom 1000ms;
      left: 0;

      &.minified {
        bottom: -500px;
      }
    }
  }
}
