$dark-1: #111;
$gray-1: #ccc;
$gray-2: #999; 
$bright-1: rgb(81, 199, 199);
$gradient-1: linear-gradient(to right, #3a1c71 , #d76d77 , #ffaf7b);
$gradient-2: linear-gradient(to right, #756792 , #9c6b6f , #c5a086);

